* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #222;
  background: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


h1, h2, h3, .logo, .btn {
  font-family: 'Poppins', sans-serif;
}

.hero {
  background: linear-gradient(135deg, #1f3c88, #4a90e2);
  color: white;
  min-height: 0vh;
  padding: 20px 40px 60px;
}

.nav {
  max-width: 100%;
  margin: 0 auto;
  padding: -10px 40px;
  display: flex;
  align-items: center;
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 36px;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}


.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.03em;
}

.logo-name {
  position: relative;
  display: inline-block;
  padding-bottom: 14px;
}

.logo-name::after {
  content: "";
  position: absolute;
  left: 1%;
  bottom: 9px;
  width: 85%;
  height: 0.4rem;
  background: white;
  border-radius: 999px;
}

.logo-dot {
  position: absolute;
  right: 5px;
  bottom: 8px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}

.page-hero-text {
  max-width: 1000px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.page-hero-text h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.page-hero-text p {
  font-size: 1.5rem;
  line-height: 1.7;
  max-width: 700px;
}

.projects-page {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.project-card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-left: 5px solid #4a90e2;
  transition: transform 0.25s ease, box-shadow 0.25s ease, border-left-width 0.25s ease;
  cursor: pointer;
  height: 100%;
}

.project-card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #1f3c88;
}

.project-card p {
  max-width: 800px;
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
}

.project-link:hover .project-card {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.14);
  border-left-width: 8px;
}

.project-link:active .project-card {
  transform: translateY(-3px);
}

.footer {
  text-align: center;
  padding: 30px 20px;
  background: #222;
  color: white;

}

